.Home{
    h1{
        font-weight: bolder;
    }
    p{  
        font-size: 18px;
        font-weight: bolder;
        color:rgb(117, 116, 116) ;
    }
    h2{
        font-size: 28px;
        //color: coral;
        font-weight: bolder;
    }
    .user{
        img{
            width: 120px;
            border-radius: 45em;
        };
        .download-cv{
            font-weight: bolder;
        }
    }
    .btn{
        font-weight: bolder;
    }
}