.Home{
    h1{
        font-weight: bolder;
    }
    p{
        font-size: 20px;
        font-weight: bolder;
        color:rgb(117, 116, 116) ;
    }
    h2{
        font-size: 36px;
        color: coral;
        font-weight: bolder;
    }
    .user{
        img{
            width: 120px;
            border-radius: 45em;
        };
    }
    .btn{
        font-weight: bolder;
    }
}