@tailwind base;
@tailwind components;
@tailwind utilities;


//IMPORT

@import "../src/App.scss";
@import "../src/Pages/Home/Home.scss";
@import "../src/Pages/About/About.scss";
@import "../src/Components/SocialBanner/SocialBanner.scss";


//COLORS
$mainBg: black;
$primary: #0e0e0e;
$secondary: silver;
$third: coral;
$text: whitesmoke;
$error: red;
$success: lime;

body{
  background: $mainBg;
  color: $text;
  font-family: Inter Display,sans-serif; 
}

.Nav{
  background-color: $primary;
  font-weight: bolder;
}

//Home
.Home{
  .user,.right{
    background-color: $primary;
    h1{
      font-size: bolder;
    }
  }
}


//SocialBanner
.SocialBanner{
  .social{
    padding: 1em;
    border-radius: 45em;
    text-align: center;
    background: $primary;
    font-size: 20px;
    font-weight: bold;
  }
}

//About
.About{
  .location{
    background: $primary;
  }
  .aboutme{
    background: $primary;
  }
}

//Contacts
.Contacts{
  font-weight: bolder;
  padding: 1em;
  margin: 1em;
  background-color: $primary;
}

//Projects
.Projects{
  .project{
    background-color: $primary;
    padding: 2em;
  }
}